<div class="row-fluid">
	<div class="span12">
		<p>{{view Ember.TextField valueBinding="newParticipantName" action="addParticipant"}}</p>
		<p><button {{action drawWinner}}>Select Next</button>
		<button {{action refresh}}>Refresh</button>
		<button {{action flush}}>Flush</button>
		</p>
		{{outlet}}
	</div>
</div>
